    <div class="container">
        <form action="/addProducts" method="post">
            <div>
                <label for="title">Nombre </label>
                <input name="title" />
            </div>
            <div>
                <label for="price">Precio </label>
                <input name="price" type="number" />
            </div>
            <div>
                <label for="thumbnail">Thumbnail </label>
                <input name="thumbnail" />
            </div>
            <div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>