<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <body>
        <h1>EJS</h1>
        <nav>
            <ul>
                <a href="/ejs">
                    <li>Inicio</li>
                </a>
                <a href="/add">
                    <li>Agregar producto</li>
                </a>
                <a href="/prod">
                    <li>Producto</li>
                </a>
            </ul>
    </nav>
    <h2>Productos EJS</h2>
    <div>
        <table>
            <thead>
                <tr>&nbsp;</tr>
                <tr>Nombre</tr>
                <tr>Precio</tr>
            </thead>
            <tbody>
                <% list.forEach(function(prod) { %>
                    <td>
                        <img src=<%= prod.thumbnail %> width="500">
                    </td>
                    <td><%= prod.title %></td>
                    <td><%= prod.price %></td>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>